body{
  text-align: center;
  color:white;
  background-color: black;
}
h1{
  font-size: 5rem;
}

.img{
  max-width: 15rem;
  max-height: 20rem;
  border: 1px solid gray;

}
.movie-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  margin-top:5
}

.movie-name{
  font-size: 2rem;
  padding:1rem;
}